body{

margin: auto !important;
min-width: 300px;
max-width: 720px;
background-color: #161b22;
line-height: 1.4;
display: block

}


div{
color: white;

}

#header{

  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

#contect{

    font-size: 35px;

}

#contectText{
    font-size: 22px;
}

.contectIcon{

    display: flex;
    color: white;
 
}

a{

    color: yellow;

}



footer{
position: relative;


}

#foot{
    position: relative;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center

}

#footercon{


    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center

}